[Desktop Entry]
GenericName=Chart Geany
Name=ChartGeany
Exec=ChartGeany
Icon=/opt/chartgeany/chartgeany.png
Type=Application
Terminal=false
Categories=Office;
